body{
	font-size: 16px;
	color: #fff;
	background-color: #61122f;
	font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color: #f6b319; /* fond jaune*/
	border-radius: 0; /*rayon de bordure de la bande jaune*/
	border: 0; /* epaisseur de la bordure*/
}
#logo-img{
	background: url(../images/montagne.webp) no-repeat;
	width: 150px; /*largeur img*/
	height: 150px; /*hauteur img*/
	margin:10px 15px 10px 0; 
}
.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1{/*restau name*/
	font-family: 'Lora', serif;
	color: #557c3e;
	font-size: 1.5em; /*augmenter taille police*/
	text-transform: uppercase; /*majuscule*/
	font-weight: bold;
	text-shadow: 1px 1px 1px #222; /*ombres*/
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75; /*diminuer la hauteur de la ligne histoire de resserer le tout*/

}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p #b{/*kosher cert*/
	color: #000;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}
.navbar-brand p span #a{/*icon star*/
	vertical-align: middle; /*aligner verticalement*/
}
